@font-face{
    font-family:bebas;
    src: url(../fonts/BebasNeue Regular.ttf);
    font-family:c;
    src: url(../fonts/cambria-italic.ttf);
    font-family:h;
    src: url(../fonts/HelveticaLTStd-Cond.otf);
    font-family:a;
    src: url(../fonts/6426.ttf);
    font-family:arial;
    src: url(../fonts/arial.ttf);
   }