@media only screen and (min-width: 320px) and (max-width: 767px) {
  .h-area {
    width: 100%;
    display: block;
    padding: 0;
    text-align: center; }
    .h-area ul {
      display: block; }
      .h-area ul li {
        color: #404040; }
        .h-area ul li a {
          font-family: bebas, sans-serif;
          font-size: 37px;
          line-height: 19px;
          color: #404040;
          font-weight: 700;
          text-transform: uppercase;
          padding: 20px 0 10px; }
        .h-area ul li p {
          font-family: arial, sans-serif;
          font-size: 15px;
          line-height: 19px;
          font-weight: 200; }
    .h-area nav {
      display: block;
      margin: 0 auto; }
      .h-area nav a {
        padding: 20px 5px 5px;
        font-family: h, sans-serif;
        font-size: 13px;
        line-height: 19px;
        color: #404040;
        text-transform: uppercase; }
      .h-area nav a:hover {
        background: #d45e5e;
        color: #fff; }
  .text {
    text-align: center;
    background: none;
    margin-bottom: 50px;
    width: 100%;
    padding: 10px; }
    .text img {
      margin-bottom: 30px; }
    .text p {
      font-family: c;
      font-size: 18px;
      line-height: 36px;
      font-style: italic;
      color: #404040;
      margin-bottom: 70px; }
  .p {
    margin-bottom: 30px;
    width: 100%;
    padding: 0; }
    .p h2 {
      font-family: c;
      font-size: 23px;
      line-height: 36px;
      font-style: italic;
      color: #404040;
      font-weight: 200;
      margin-bottom: 5px; }
    .p ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
      flex-flow: wrap; }
      .p ul li {
        margin: 10px;
        width: 130px;
        height: 130px;
        overflow: hidden;
        box-shadow: 0 10px 10px #494949; }
        .p ul li img {
          width: 100%; }
      .p ul li:hover,
      .p ul li:focus {
        display: block;
        position: relative;
        top: -5px;
        box-shadow: 0 10px 10px #494949;
        cursor: pointer; }
        .p ul li:hover a,
        .p ul li:focus a {
          background: url(../img/prev-hover.png) 0 no-repeat;
          background-size: cover;
          display: none; }
  footer,
  .f-area {
    background: #d45e5e;
    width: 100%;
    padding: 10px;
    text-align: center;
    height: auto; }
    footer a,
    .f-area a {
      background: url(../img/VK.png) no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      opacity: 0.4; }
    footer a:nth-child(2),
    .f-area a:nth-child(2) {
      background: url(../img/G+.png) no-repeat;
      background-size: cover; }
    footer a:nth-child(3),
    .f-area a:nth-child(3) {
      background: url(../img/FB.png) no-repeat;
      background-size: cover; }
    footer a:nth-child(4),
    .f-area a:nth-child(4) {
      background: url(../img/mail.png) no-repeat;
      background-size: cover; }
    footer a:nth-child(5),
    .f-area a:nth-child(5) {
      background: url(../img/skype.png) no-repeat;
      background-size: cover; }
    footer a:hover,
    footer a:focus,
    .f-area a:hover,
    .f-area a:focus {
      transition: 0.7s;
      opacity: 1; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .h-area {
    width: 100%; }
  .text {
    text-align: center;
    background: url(../img/area-bg.png) auto no-repeat;
    margin-bottom: 0px;
    width: 100%; }
    .text p {
      padding-bottom: 30px; }
  .p {
    width: 100%;
    padding: 10px; }
    .p h2 {
      font-family: c;
      font-size: 23px;
      line-height: 36px;
      font-style: italic;
      color: #404040;
      font-weight: 200;
      margin-bottom: 5px; }
    .p ul li {
      margin: 10px;
      width: 210px;
      height: 209px;
      overflow: hidden;
      box-shadow: 0 10px 10px #494949; }
      .p ul li img {
        width: 100%; }
    .p ul li:hover,
    .p ul li:focus {
      display: block;
      position: relative;
      top: -5px;
      box-shadow: 0 10px 10px #494949;
      cursor: pointer; }
      .p ul li:hover a,
      .p ul li:focus a {
        width: 100%;
        height: 100%;
        background: url(../img/prev-hover.png) no-repeat; }
  .f-area {
    width: 100%;
    padding: 10px; } }
